Release announcement for [% name %]
===

Version release: [% version %]
License: [% license %]

Source bundles
---

[% FOREACH v IN src %]* [% v %]
[% END %]

VCS
---

[% FOREACH v IN vcs %]* [% v %]
[% END %]

ONLINE RESOURCES
---

[% FOREACH v IN url %]* [% v %]
[% END %]

CHANGELOG
---

[% changelog %]

---

Release generator: [% engine %]
